<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.database_homework.mapper.FoodMapper">
  <resultMap id="BaseResultMap" type="com.program.database_homework.domain.entity.Food">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.database_homework.domain.entity.Food">
    insert into food (id, type_id, food_name, 
      price, creat_time)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.database_homework.domain.entity.Food">
    update food
    set type_id = #{typeId,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
  </select>
  <resultMap id="BaseResultMap" type="com.program.database_homework.domain.entity.Food">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.database_homework.domain.entity.Food">
    insert into food (id, type_id, food_name, 
      price, creat_time)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.database_homework.domain.entity.Food">
    update food
    set type_id = #{typeId,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
  </select>
  <resultMap id="BaseResultMap" type="com.program.database_homework.domain.entity.Food">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.database_homework.domain.entity.Food">
    insert into food (id, type_id, food_name, 
      price, creat_time)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.database_homework.domain.entity.Food">
    update food
    set type_id = #{typeId,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type_id, food_name, price, creat_time
    from food
  </select>
</mapper>