<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.database_homework.mapper.SetMealLinkFoodMapper">
  <resultMap id="BaseResultMap" type="com.program.database_homework.domain.entity.SetMealLinkFood">
    <id column="food_id" jdbcType="INTEGER" property="foodId" />
    <id column="set_meal_id" jdbcType="INTEGER" property="setMealId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from set_meal_link_food
    where food_id = #{foodId,jdbcType=INTEGER}
      and set_meal_id = #{setMealId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.database_homework.domain.entity.SetMealLinkFood">
    insert into set_meal_link_food (food_id, set_meal_id)
    values (#{foodId,jdbcType=INTEGER}, #{setMealId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select food_id, set_meal_id
    from set_meal_link_food
  </select>
</mapper>