<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.database_homework.mapper.SetMealMapper">
  <resultMap id="BaseResultMap" type="com.program.database_homework.domain.entity.SetMeal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="set_meal_name" jdbcType="VARCHAR" property="setMealName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from set_meal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.program.database_homework.domain.entity.SetMeal">
    insert into set_meal (id, set_meal_name, price, 
      creat_time)
    values (#{id,jdbcType=INTEGER}, #{setMealName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.program.database_homework.domain.entity.SetMeal">
    update set_meal
    set set_meal_name = #{setMealName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, set_meal_name, price, creat_time
    from set_meal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, set_meal_name, price, creat_time
    from set_meal
  </select>
</mapper>